.contenedorIndex{
    @media (max-width: 768px) {
        margin: 60px;  
        font-size: 1rem;


        .tarjeta__titulo{
            font-size: 1rem;

        }

        .boton{
            margin-top: 10px;
        }

    }

    @media (max-width: 552px) {
        margin: 40px;
        font-size: 0.5rem;

        .tarjeta__titulo{
            font-size: 0.5rem;

        }
       
    }

}